rect {
  fill: none;
  pointer-events: all;
}

circle,
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  fill-opacity: .2;
  cursor: move;
}

.line {
  stroke-dasharray: 11;
}

.selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}
