<div class="box-left box">
  <div class="value-dial-wrapper">
    <value-dial value="$ctrl.client.existingSaving" min="0" max="5000000" dial-step="100000"
                on-change="$ctrl.setExistingSaving($event)" class="value-dial"></value-dial>
    <value-dial value="$ctrl.client.onGoingSaving" min="0" max="100000" dial-step="500"
                on-change="$ctrl.setOnGoingSaving($event)" class="value-dial"></value-dial>
    <value-dial value="$ctrl.client.desiredIncome" min="0" max="100000" dial-step="500"
                on-change="$ctrl.setDesiredIncome($event)" class="value-dial"></value-dial>

  </div>
  <analysis-chart client="$ctrl.ClientService.get('')"></analysis-chart>
</div>
<div class="box-right box">
  <div class="indicator-needed-budget indicator">
    <p>YOU WILL NEED</p>
    <p>{{ $ctrl.getNeededBudget() }}</p>
  </div>
  <div class="indicator-saving-lost-age indicator">
    <p>YOUR SAVINGS WILL LAST</p>
    <p>{{ $ctrl.getSavingLostAge() }}</p>
  </div>
  <div class="indicator-short-fall indicator">
    <p>YOUR SHORTFALL</p>
    <p>{{ $ctrl.getShortfall() }}</p>
  </div>
  <div class="indicator-monthly-save indicator">
    <p>SAVE AN ADDITIONAL</p>
    <p></p>
  </div>
</div>

<!--
<value-dial value="$ctrl.onGoingSavings" min="0" max="10000000" width="300"></value-dial>
<value-dial value="$ctrl.retirementIncome" min="0" max="10000000" width="300"></value-dial>-->
