application-page {
  color: #393b3a;
  height: calc(100% - 65px);
  position: relative;
  display: flex;
  flex-flow: row wrap;
  .box {
    overflow: hidden;
    height: 100%;
    &.box-left {
      flex: 3 0px;
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      .value-dial-wrapper {
        flex: 2 0;
        background-color: #ecf1f5;
        display: flex;
        justify-content: space-around;
        .value-dial {
          flex: 1 0;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &.box-right {
      display: flex;
      flex: 1 0;
      flex-flow: column nowrap;
      padding: 2rem 1rem 0 1rem;
      .indicator {
        flex: 1 0;
        padding: 0 1rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        .indicator-label {
          color: #8fa8ad;
          font-weight: bold;
          font-size: 0.8rem;
        }
        .indicator-value {
          font-size: 1.5rem;
          .indicator-unit, .indicator-age {
            font-size: 1.2rem;
          }
        }
        &.indicator-short-fall {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          color: #fff;
          background-color: #d43244;
          border: 5px solid #f28e46;
          .indicator-label {
            color: #fff;
          }
          .indicator-value {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

