application-page {
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  .box {
    overflow: hidden;
    height: 100%;
    &.box-left {
      flex: 2 0px;
      .value-dial-wrapper {
        background-color: #ecf1f5;
        display: flex;
        justify-content: space-around;
        value-dial {

        }
      }
      analysis-chart {
        background-color: #e1ecf2;
        display: block;
      }
    }
    &.box-right {
      flex: 1 0px;
    }
  }
}

